rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Matches any document in the 'users' collection
    match /users/{userId} {
      // Allow read and write only if the user is authenticated and their UID matches the document ID
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Matches any transaction in the 'transactions' subcollection under a specific user
      match /transactions/{transactionId} {
        // Allow read and write only if the user is authenticated and their UID matches the parent user ID
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
  }
}
